/*  INDEX --  Month boxes for book monthly tictets  */
/* line 3, ../sass/screen.scss */
.months_container {
  display: block;
  overflow: hidden;
}

/* line 7, ../sass/screen.scss */
.month_block {
  border: solid 1px;
  float: left;
  padding: 1%;
  margin-right: 2%;
  margin-bottom: 2%;
  width: 28%;
  height: 130px;
}

/*  Show and hide buttons depending on the status of every month, booked or not booked */
/* line 21, ../sass/screen.scss */
.booked_label, .month_booked .bookform {
  display: none;
}

/* line 25, ../sass/screen.scss */
.month_booked .booked_label {
  display: block;
}
