/*colors*/
/* HEADER */
/* line 10, ../sass/screen.scss */
.container .jumbotron, .container-fluid .jumbotron {
  background: url(../img/bg.png) repeat #ABC147;
}

/* line 14, ../sass/screen.scss */
.homelink {
  display: block;
  font-size: 40px;
  margin-top: 10px !important;
}

/* line 20, ../sass/screen.scss */
.jumbotron h1 {
  color: #3C5B45;
  margin: 0px;
}

/* Subheaders */
/* line 26, ../sass/screen.scss */
.highlighted {
  color: green;
  text-transform: capitalize;
}

/* FOOTER */
/* line 32, ../sass/screen.scss */
.footer {
  background: url(../img/bg.png) repeat #ABC147;
  color: #3C5B45;
  text-align: right;
}

/* GENERAL LAYOUT RE-USE */
/* line 42, ../sass/screen.scss */
.form_container {
  background-color: #FFFFFF;
  border: solid 1px;
  border-radius: 0px 4px 4px 4px;
  margin: 20px auto;
  padding: 30px;
  width: 40%;
  /* Tablet below */
}
@media (max-width: 768px) {
  /* line 42, ../sass/screen.scss */
  .form_container {
    width: 100%;
  }
}

/* line 58, ../sass/screen.scss */
.nav_container {
  margin: 0 auto -2px auto;
  width: 40%;
  /* Tablet below */
}
/* line 61, ../sass/screen.scss */
.nav_container li.active a {
  background-color: #FFFFFF !important;
  border: solid 1px;
  border-bottom: solid 0px;
  border-radius: 4px 4px 0px 0px;
}
@media (max-width: 768px) {
  /* line 58, ../sass/screen.scss */
  .nav_container {
    width: 100%;
  }
}

/*   ///////////////  INDEX  ///////////////  */
/* line 76, ../sass/screen.scss */
.form_container {
  margin-top: 0px;
}

/* line 81, ../sass/screen.scss */
.months_container {
  display: block;
  overflow: hidden;
}
/* line 84, ../sass/screen.scss */
.months_container h4 {
  margin: 0px;
}
/* line 85, ../sass/screen.scss */
.months_container .month_block {
  background-color: #FFFFFF;
  border: solid 1px;
  border-radius: 3px;
  float: left;
  padding: 1%;
  margin-right: 2%;
  margin-bottom: 2%;
  width: 28%;
  height: 130px;
}

/*  Show and hide buttons depending on the status of every month, booked or not booked */
/* line 101, ../sass/screen.scss */
.cancelform, .booked_label, .month_booked .bookform {
  display: none;
}

/* line 103, ../sass/screen.scss */
.month_booked .booked_label {
  display: block;
}
/* line 104, ../sass/screen.scss */
.month_booked .cancelform {
  display: block;
}

/* line 107, ../sass/screen.scss */
.infolink {
  display: block;
  font-size: 20px;
  margin-top: 30px !important;
}
