/*  INDEX --  Month boxes for book monthly tictets  */

.months_container {
    display: block;
    overflow: hidden;
  }
.month_block {
    border: solid 1px;
    float: left;
    padding: 1%;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 28%;

}